{ '*.{js,ts,svelte,json,md}': [
      'prettier --ignore-path .gitignore --write --cache !./pnpm-lock.yaml !./CHANGELOG.md'
      # "npx eslint --cache --ignore-path .gitignore ."
    ], '*.{cjs,yml,yaml,lintstagedrc}': 'prettier --ignore-path .gitignore --write --cache !./pnpm-lock.yaml !./CHANGELOG.md' }
