.mtl-tree .tree-node-inner {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.mtl-tree .tree-node {
  padding: 1px 0;
}

.mtl-tree .tree-node:hover {
  background-color: #ededed;
}

.mtl-checkbox {
  width: 14px;
  height: 14px;
}

.mtl-ml {
  margin-left: 4px;
}

.mtl-mr {
  margin-right: 4px;
}

.mtl-text-left {
  text-align: left;
}

.mtl-text-center {
  text-align: center;
}

.mtl-text-right {
  text-align: right;
}
